* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px $font2;
    color: #555;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 89px;
}

a {
    color: $color-white;
}